/** global element styling **/

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Covered By Your Grace', cursive;
  width: 100vw;
  min-height: 100vh;
}

#page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  width: 100%;
  flex-direction: row;

}
.logo{
    display:flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;

}
#header-img{
 width: 40px;
 height: 40px;
 display: flex;
 margin: 20px;

}
.nav-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 3;
  border:3px solid grey;
}

.logo {
  width: 60vw;
  display: flex;
}
ul{
    display: flex;

    margin: 20px;

}
li{
    margin: 10px;
}

